
body {
  background-color: rgb(255, 255, 255);
  margin: 0px;
}


.judul {
  padding: 20px;
  text-align: center;
  color: azure;
  background-color: rgb(122, 187, 139);
  margin-bottom: -20px;
}

.test {
  color: rgb(255, 255, 255);
  background-color: rgb(187, 223, 173);
  text-align: right;
  padding-right:10px;
}


.test h3 {
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline;
}

.font {
  font-size: 20px
}

.SubJdl {
  text-align: center;
  margin-top: 50px;
  color: rgb(142, 161, 139);
}

.container {
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.089);
  margin-left: 70px;
  margin-bottom: 30px;
  margin-top: 60px;
  padding: 30px;
  padding-top: 90px;
  padding-bottom: 50px;
  width: 18rem;
  height: 18rem;
  background-color: rgb(252, 255, 251);
}

#look_btn {
  margin-top: 15px;
  margin-bottom: 10px;
  background-color: #2F74D0;
  color: white;
}

.container1 {
  float: center;
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 50px;
  padding-top: 90px;
  padding-bottom: 150px;
  width: 18rem;
  height: 18rem;
  background-color: rgb(252, 255, 251);
}

#back_btn {
  margin-top: 12px;
  margin-bottom: 18px;
  background-color: rgb(121, 173, 135);
  color: rgb(255, 255, 255);
  width: 290px;
  height: 35px;
}

.images {
  width: 65%;
}
